body { background: #9d21ba; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-user-0 { color: #8b8ef0; font-size: 18px; margin-bottom: 5px; }
.block-logger-1 { color: #f189e3; font-size: 19px; margin-bottom: 5px; }
.block-config-2 { color: #feb7ca; font-size: 20px; margin-bottom: 5px; }
.block-metrics-3 { color: #7cbeb1; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #4f7988; font-size: 14px; margin-bottom: 5px; }
.block-order-5 { color: #b8370e; font-size: 13px; margin-bottom: 5px; }